html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main ul li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(36, 36, 255);
}

a:focus {
  color: rgb(36, 36, 255);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 256px;
  padding-bottom: 16px;
}

.intro p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.intro ul {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.intro ul li {
  margin-right: 16px;
}

.projects h2 {
  margin-top: 64px;
}

.projects ul {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(256px,1fr))
}

@media (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
}