<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>neosiae in cyberspace</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <main class="intro">
      <h1>Denis Kotlica</h1>
      <p>Front-end developer & Solarpunk Hacker</p>
      <ul>
        <li><a href="https://twitter.com/neosiae">Twitter</a></li>
        <li><a href="https://github.com/neosiae">GitHub</a></li>
      </ul>
    </main>
    <section class="projects">
      <h2>Projects</h2>
      <ul>
        {projects}
      </ul>
    </section>
  </div>
</body>
</html>